



<div class="container">
	  		<!-- {{#each users}}
	  			<p> this.username </p>
	  		{{/each}} -->
	<div class="row text-center">
	  
	  	<ul class="not sold">
	  		{{#each lemonades}}
	  			{{#unless this.sold}}
		  			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		  				<div class="text-center">
			  				<br>
								<p> 
									<img src= "{{this.image}}" alt="product" class="img-rounded product-thumbnail" style="width:250px;height:250px">
								</p>
								<p> </p>
								<!-- <p> User: {{this.seller_id}} </p>
								<p> Email: {{this.email}} </p> -->
								<p> {{this.product_name}} </p> <!-- product -->
				  			<p> ${{this.price}} </p>
								
								<div class="text-center">
								<!-- Big modal -->
								<button class="btn btn-default view-details" data-toggle="modal" data-target=".bs-example-modal-sm2">View Details</button>

								<div class="modal fade bs-example-modal-sm2">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        <h3 class="modal-title">{{this.product_name}}</h3>
								      </div>
								      <div class="modal-body">
								        <p>
								        	<img src= "{{this.image}}" alt="product" class="img-rounded product-thumbnail" style="width:250px;height:250px">
								        </p>
								        <p> <b>Price</b>: ${{this.price}} </p>
								        <p> <b>Description</b>: {{this.description}} </p>
								        <p> <a href="mailto:{{this.email}}?subject=Interested in buying {{this.product_name}}&body=Hi, have a question on the product.">Contact Seller</a></p>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      </div>
								    </div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->
								
								<br><br>

				  			{{> lemonades/lemonade-bought sold=true}}
								</div>

				  			<br><br><br>
				  		</div>
		  			</div>




	  			{{/unless}}
	  		{{/each}}
	  	</ul>
		  	
	</div>
</div>


<!-- FOR SELLER TO SELL LEMONADE -->
<div class="panel panel-default">
	<div class="panel-body">

		<h1> Got Lemonade? Sell here</h1>

		<form class="create-lemonade-form" action="/order" method="POST">
			<div class="form-group">
				
				<label for="newLemonade" id="email"> Email </label>
				<input type="hidden" name="sold" value="false">
				<input required type="text" id="newEmail" name="email" placeholder="abc@aim.com"> <br>
				<label for="newLemonade" id="lemonade-name"> Lemonade Name </label>
				<input type="hidden" name="sold" value="false">
				<input required type="text" id="newLemonade" name="product_name" placeholder="Pink Lemonade"> <br>
				<label for="newLemonade" id="lemonade-price"> Price </label>
				<input required type="text" id="lemonade-price" name="price" placeholder="3.50"><br>
				<label for="newLemonade" id="lemonade-img"> Image URL </label>
				<input required type="text" id="lemonade-img" name="image" placeholder="google.com"><br>
				<label for="newLemonade" id="lemonade-seller"> Your Name </label>
				<input required type="text" id="lemonade-seller" name="seller_id" placeholder="John Doe"><br>
				<label for="newLemonade" id="lemonade-desc"> Description </label> <br>
				<textarea required type="text" id="lemonade-desc" name="description" placeholder="Refreshingly sweet with natural honey" style="width:80%"></textarea>
				<br><br>
				<button type="submit" id="sell-btn">Upload Item </button>
			</div>
		</form>
	</div>
</div>


<!-- RECENTLY SOLD -->
	<br><br>
	<div>
	  
	  	<ul class="sold">
		  	<h2> Items Recently Sold </h2>
	  		{{#each lemonades}}
	  			{{#if this.sold}}
		  			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
		  				<div class="text-center">
			  				<br>
								<p> 
									<img src="{{this.image}}" alt="product" class="img-rounded product-thumbnail" style="width:250px;height:250px">
								</p>
							<!-- 	<p> User: {{this.seller_id}} </p>
								<p> Email: {{this.email}} </p> -->
								<p> {{this.product_name}} </p> <!-- product -->
				  			<p> ${{this.price}} </p>
								<!-- <p> {{this.description}} </p>  -->
				  			<br><br><br>
				  		</div>
		  			</div>
	  			{{/if}}
	  		{{/each}}
	  	</ul>
	</div>


	<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="closex">&times;</button>
            <h3 class="modal-title text-center">Lemonade Details</h3>
          </div>
          <div class="modal-body">
            <h4 class="text-center">Product: {{this.product}}</h4>
            <p id="modalPhoto" class="text-center">{{this.image}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
          </div>
        </div> <!-- modal content -->
      </div> <!-- modal-dialog -->
    </div> <!--  myModal -->



